html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container-header {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation .list-nav {
  display: flex;
  justify-content: space-around;
}
.navigation .list-nav li {
  display: flex;
  justify-content: space-around;
  margin-right: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.navigation .list-nav li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.list-nav li a:active {
  color: #00e0d0;
}

.footer {
  background-image: url("../../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.top-footer p {
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
}
.top-footer h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  padding-bottom: 32px;
}

.tajam-info {
  width: 32%;
}
.tajam-info img {
  padding-bottom: 32px;
}

.studio {
  width: 30%;
}
.studio p {
  padding-bottom: 20px;
}
.studio .adress {
  padding-left: 30px;
  background-image: url("../../images/adress.png");
  background-repeat: no-repeat;
}
.studio .phone {
  padding-left: 30px;
  background-image: url("../../images/fone.png");
  background-repeat: no-repeat;
}
.studio .phone a {
  color: white;
  text-decoration: none;
}

.touch {
  width: 32%;
}
.touch form {
  display: flex;
  flex-direction: row;
}
.touch form input {
  padding: 14px 0 14px 14px;
  width: 211px;
  background: none;
  border: 2px solid white;
  margin-right: 10px;
  outline: none;
}
.touch form button {
  display: block;
  margin: 0;
  width: 70px;
  height: 46px;
  background-color: #a199b4;
  background-image: url("../../images/footer-strilka.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  border: none;
}

.social-list {
  display: flex;
}
.social-list .social {
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  margin-top: 27px;
}
.social-list .facebook {
  background-image: url("../../images/fasebook.png");
}
.social-list .twitter {
  background-image: url("../../images/tweeter.png");
}
.social-list .dribble {
  background-image: url("../../images/dribbble.png");
}
.social-list .instagram {
  background-image: url("../../images/instagram.png");
}
.social-list .glpl {
  background-image: url("../../images/gpl.png");
}
.social-list .youtube-play {
  background-image: url("../../images/youtube.png");
}

.social:hover {
  cursor: pointer;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 20px;
}
.bottom-footer ul {
  display: flex;
  flex-direction: row;
}
.bottom-footer ul li {
  margin-right: 36px;
}
.bottom-footer ul li a {
  text-decoration: none;
  color: white;
}
.bottom-footer p {
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.welcome-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/welcome.png");
  background-size: cover;
}

.welcome-section {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}
.welcome-section h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
}
.welcome-section hr {
  border: none;
  width: 54px;
  height: 2px;
  background-color: #00e0d0;
  margin-top: 25px;
  margin-bottom: 25px;
}
.welcome-section p {
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 780px;
  text-align: center;
  margin: 0 auto;
  line-height: 24px;
}
.welcome-section button {
  width: 120px;
  height: 40px;
  background: none;
  border: 1px solid #03d4c8;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.welcome-section button:hover {
  color: white;
  background-color: #00e0d0;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.story {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container {
  width: 940px;
  margin: 0 auto;
}
.container .image-story {
  display: flex;
  justify-content: center;
  width: 43%;
}
.container .text-story {
  width: 57%;
}
.container .text-story h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-align: left;
  font-weight: bolder;
}
.container .text-story p {
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
  color: black;
  line-height: 22px;
  margin-top: 33px;
}
.container button {
  width: 120px;
  height: 40px;
  width: 120px;
  height: 40px;
  background: none;
  border: 1px solid #03d4c8;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Hammersmith One', sans-serif;
  color: #00e0d0;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.container button:hover {
  color: white;
  background-color: #00e0d0;
  cursor: pointer;
}

.video {
  height: 100vh;
  background-image: url("../../images/video-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video p {
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-align: center;
}
.video p:before {
  content: '';
  background-image: url("../../images/video.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 35px;
}

.header-container {
  margin-bottom: 45px;
}
.header-container h2 {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.header-container p {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 20px;
}
.header-container hr {
  border: none;
  width: 54px;
  height: 2px;
  background-color: #00e0d0;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-top: 0;
  background-color: #c6c4c9;
}

.expertise-list ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.web-info {
  margin-right: 0;
  width: 300px;
  text-align: center;
  padding: 40px 0 40px 0;
}
.web-info:nth-child(n) {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.web-info:nth-last-child(-n+3) {
  border-bottom: none;
}
.web-info:nth-child(3n) {
  border-right: none;
}
.web-info h3 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0 0 25px 0;
}
.web-info p {
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  color: #333333;
}

.development h3:before {
  content: '';
  display: flex;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/photo-1.png");
}

.branding h3:before {
  content: '';
  display: flex;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/photo-2.png");
}

.mobile h3:before {
  content: '';
  display: flex;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/photo-3.png");
}

.optimization h3:before {
  content: '';
  display: flex;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/photo-4.png");
}

.development h3:before {
  content: '';
  display: flex;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/photo-5.png");
}

.made h3:before {
  content: '';
  display: flex;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/photo-6.png");
}

.amazing {
  background-image: url("../../images/amazing.png");
  height: auto;
  background-size: cover;
}

.header-amazing h2 {
  color: white;
}
.header-amazing p {
  color: white;
  padding-bottom: 0;
}
.header-amazing hr {
  border: none;
  width: 54px;
  height: 2px;
  background-color: #00e0d0;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #655c80;
}

.wrapper-photo {
  display: flex;
  justify-content: space-between;
}

.photo-client {
  width: 220px;
  height: auto;
}
.photo-client img {
  display: block;
}
.photo-client .photo-info {
  border: 1px solid #757489;
  padding: 20px 0 25px 0;
}
.photo-client .photo-info h3 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.photo-client .photo-info p {
  color: #fafafa;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.amazing-info span {
  display: flex;
  justify-content: center;
  color: #f3f3f3;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  margin-top: 72px;
  margin-bottom: 30px;
}
.amazing-info button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 140px;
}

.header-works {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.header-works h2 {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.header-works a {
  text-decoration: none;
  color: #413d4b;
  font-family: 'Roboto', sans-serif;
}

.gallery {
  width: 100%;
}
.gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery ul li {
  width: calc(100%/6);
}
.gallery ul img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.excerption {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/citat.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.excerption .blockquote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.excerption .blockquote:before {
  content: "";
  background-image: url("../../images/scobe.png");
  background-repeat: no-repeat;
  display: block;
  min-width: 33px;
  min-height: 26px;
  margin-bottom: 52px;
}
.excerption blockquote {
  font-family: "Playfair Display", serif;
  text-align: center;
  max-width: 795px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 52px;
  display: flex;
}
.excerption h3 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}
.excerption p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: white;
  padding-top: 13px;
}

.form {
  width: 460px;
}
.form h2 {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.form form {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.form form input {
  padding-left: 20px;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 24px;
  outline: none;
}
.form form textarea {
  padding-left: 20px;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  min-height: 140px;
  outline: none;
}
.form form button {
  display: block;
  margin: 0;
}

.clients-block h2 {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 380px;
  display: flex;
  justify-content: space-between;
}
.photo .photo-client {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.photo .photo-client img {
  padding-top: 45px;
}
