.footer {
  background-image: url("../../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color;
}
.top-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  p{
    @include font-p;
    line-height: 26px;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    padding-bottom: 32px;
  }
}
.tajam-info{
  width: 32%;
  img{
    padding-bottom: 32px;
  }
}
.studio{
  width: 30%;
  p{
    padding-bottom: 20px;
  }
  .adress{
    padding-left: 30px;
    background-image: url("../../images/adress.png");
    background-repeat: no-repeat;
  }
  .phone{
    padding-left: 30px;
    background-image: url("../../images/fone.png");
    background-repeat: no-repeat;
  }
}
.touch{
  width: 32%;
  form {
    display: flex;
    flex-direction: row;
    input {
      padding: 14px 0 14px 14px;
      width: 211px;
      background: none;
      border: 2px solid white;
      margin-right: 10px;
      outline: none;
    }
    button {
      display: block;
      margin: 0;
      width: 70px;
      height: 46px;
      background-color: #a199b4;
      background-image: url("../../images/footer-strilka.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;
      border: none;
    }
  }
}
.social-list{
  display: flex;
  .social{
    width: 36px;
    height: 36px;
    border: 1px solid white;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
    margin-top: 27px;
  }
  .facebook{
    background-image: url("../../images/fasebook.png");
  }
  .twitter{
    background-image: url("../../images/tweeter.png");
  }
  .dribble{
    background-image: url("../../images/dribbble.png");
  }
  .instagram{
    background-image: url("../../images/instagram.png");
  }
  .glpl{
    background-image: url("../../images/gpl.png");
  }
  .youtube-play{
    background-image: url("../../images/youtube.png");
  }
}
.social{
    &:hover{
      cursor: pointer;
    }
}
.bottom-footer{
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 20px;
  ul{
    display: flex;
    flex-direction: row;
    li{
      margin-right: 36px;
      a{
        text-decoration: none;
        color:$color;
      }
    }
  }
  p{
    @include font-p;
  }
}
