.container-header {
    width:$width-block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px ;
}
.navigation{
  display: flex;
  align-items: center;
  .list-nav{
    display: flex;
    justify-content: space-around;
    li{
      display: flex;
      justify-content: space-around;
      margin-right: 25px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      a{
        text-decoration: none;
        color: $color;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}
.list-nav{
  li{
    a:active{
      color: #00e0d0;
    }
  }
}

