.header-container{
  margin-bottom: 45px;
  h2{
    font-size: 22px;
    font-family: $font-fair;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p{
    font-size: 14px;
    font-family: $font-fair;
    text-align: center;
    margin-bottom: 20px;
  }
  hr{
    @include hr-line;
    margin-top:0;
    background-color: #c6c4c9;
  }
}
.expertise-list{
  ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.web-info{
  margin-right: 0;
  width: 300px;
  text-align: center;
  padding: 40px 0 40px 0;
  &:nth-child(n){
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  &:nth-last-child(-n+3){
    border-bottom: none;
  }
  &:nth-child(3n){
    border-right: none;
  }
  h3{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0 0 25px 0;
  }
  p{
    @include  font-p;
    line-height: 22px;
    color: #333333;
  }
}
.development{
  h3{
    &:before{
      @include style-before;
      background-image: url("../../images/photo-1.png");
    }
  }
}
.branding{
  h3{
    &:before {
      @include style-before;
      background-image: url("../../images/photo-2.png");
    }
  }
}
.mobile{
  h3{
    &:before{
      @include style-before;
      background-image: url("../../images/photo-3.png");
    }
  }
}
.optimization{
  h3{
    &:before{
      @include style-before;
      background-image: url("../../images/photo-4.png");
    }
  }
}
.development{
  h3{
    &:before{
      @include style-before;
      background-image: url("../../images/photo-5.png");
    }
  }
}
.made{
  h3{
    &:before{
      @include style-before;
      background-image: url("../../images/photo-6.png");
    }
  }
}
