.wrapper{
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.story{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container{
  width: $width-block;
  margin: 0 auto;
  .image-story{
    display: flex;
    justify-content: center;
    width: 43%;
  }
  .text-story{
    width: 57%;
    h2{
      font-family: $font-fair;
      font-size: 22px;
      text-align: left;
      font-weight: bolder;
    }
    p{
      @include font-p;
      color: black;
      line-height: 22px;
      margin-top: 33px;
    }
  }
  button{
    width: 120px;
    height: 40px;
    @include button-style;
    &:hover{
      @include hover-button;
    }
  }
}