.video{
  height: 100vh;
  background-image: url("../../images/video-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    @include font-p;
    font-size: 22px;
    text-align: center;
    &:before{
      content: '';
      background-image: url("../../images/video.png");
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      display: flex;
      margin: 0 auto;
      margin-bottom: 35px;

    }
  }
}